<div class="position-relative overflow-hidden text-white">
  <video autoplay muted loop class="video-bg">
    <source src="../../assets/video/video kala.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
  </video>
  <div class="col-md-5 p-lg-5 mx-auto my-5 text-center">
    <h1 class="text-lg-center">ENTRENAMIENTO</h1>
    <h2 class="text-center mb-4">Y REHAB</h2>
    <p class="lead fw-normal">Trabajamos en preparación física integral y funcional. Creamos juntos rutinas personalizadas para lograr tus metas.</p>
    <a class="btn btn-outline-secondary" href="#">ÚNETE AHORA</a>
  </div>
</div>
