<div class="container text-center mt-5">
    <h2 class="font-weight-bold">Nosotros</h2>
    <div class="my-4">
      <p>Somos más allá de ser simplemente un lugar para hacer ejercicio; somos un espacio dedicado al bienestar físico integral. En nuestras instalaciones, no solo encontrarás equipos de última generación y entrenadores altamente capacitados, sino también una gama completa de servicios que abordan todos los aspectos de tu salud. Ofrecemos servicios de fisioterapia para prevenir lesiones y promover la recuperación, evaluaciones y balanceo personalizado para optimizar tus rutinas de ejercicio, y mucho más. Nos enorgullece ser un centro donde el enfoque principal es tu bienestar general, asegurándonos de que cada visita no solo fortalezca tu cuerpo, sino también mejore tu calidad de vida en su totalidad.</p>
    </div>
  </div>
