.bg-black {
    background-color: #000000; /* Color negro para el fondo */
    color: #ffffff; /* Color del texto */
  }
  
  .footer-logo {
    max-width: 150px; /* Ajusta el tamaño del logo según sea necesario */
  }
  