<div class="container marketing mx-auto my-5">
  <h1 class="text-center mb-4">SERVICIOS Y ACTIVIDADES</h1>
  <br>
  <div class="row">
    <div class="col-lg-6" *ngFor="let service of servicios; let i = index">
      <div class="servicio-container">
        <!-- Contenido de tu servicio -->
        <img class="servicio-imagen rounded-circle" [src]="service.image" alt="">
        <div class="servicio-texto">
          <h2 class="text-center">{{ service.title }}</h2>
          <p class="text-justify">{{ service.description }}</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
