.servicio-container {
  border: 1px solid red; /* Borde delgado de color rojo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Efecto de sombra con color personalizable */
  padding: 15px; /* Ajusta el espacio interior */
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio inferior entre servicios */
  display: flex; /* Usa flexbox para organizar los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.servicio-texto {
  flex: 1; /* El texto ocupa el espacio restante */
  margin-left: 20px; /* Espacio a la izquierda del texto */
}

/* Estilos para la imagen */
.servicio-imagen {
  border-radius: 50%; /* Hace la imagen redonda */
  width: 140px; /* Ancho de la imagen */
  height: 140px; /* Altura de la imagen */
  flex-shrink: 0; /* Evita que la imagen se encoja */
  margin-right: 20px; /* Espacio a la derecha de la imagen */
}
